<h1>Database Test</h1>
<p>Choose an action:</p>
<div class="all_action">
  <%= button_to "Customer", customers_index_path, method: :get, class: "btn"%>
  <%= button_to "Supplier", suppliers_index_path, method: :get, class: "btn"%>
</div>
